.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
  }
  
  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
  }
  
  
  /* Toast Overide */
  .toast-notification {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 5px 5px;
    background: #fff;
    font: inherit;
    padding: 5px;
    color: #999;
    cursor: pointer;
  }
  
  .page{
    margin-top:45px;
    width: 100vw;
    padding-top: 1em;
    overflow: auto;
  }
  .btn-panel {
    display:flex; 
    flex-direction:row;
    justify-content:space-around;
  }
  
  .btn-panel .icon {
    border-color:#FE414D;
    border-style:solid;
    border-width:6px;
    border-radius:50%; 
    background-color:#ffffff;
    width:96px;
    height:96px;
    margin-bottom:1em; 
    justify-content: center;
    align-items: center;
    display: flex
  }
  
  .btn-panel .btn {
    display:flex;
    flex-direction:column;
    align-items:center; 
    padding-right:1em;
    padding-left:1em;
    cursor: pointer;
  }
  
  .btn-panel a {
    color: black;
    text-decoration: none;
  }
  
  .btn-panel .icon:hover {
    background-color: #eeeeee;
    color: black;
  }
  
  /* Animations */
  .fadein {
    animation: fadein 2s;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .spinning {
    animation: spin 1.5s infinite linear;
  }
  
  .spinning svg {
    border-radius: 50%
  }
  
  @keyframes spin {
    0%  {
      -webkit-transform: rotate(0deg)
    }
    100% {
      -webkit-transform: rotate(360deg)
    }   
  } 
  